* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:rgb(226, 54, 54);
    --primary-font-color: rgb(251, 244, 244);

    font-size: 62.5%; /* 10px */
    font-family: 'Fira Sans';
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;

    margin-inline: auto;
    padding-inline: 2rem;

    max-width: 128rem;
}

/* top-menu style */

#top-menu {
    background-color: var(--primary-color);
    padding-block: 3.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.logo img {
    width: 5rem;
    rotate: -22.5deg;
}

.logo h1 {
    font-size: 3.8rem;
    color: var(--primary-font-color);
}

/* main-section style */

#main-section {
    padding-block: 5rem;
}

#main-section-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 3rem;
}

#main-section-filters select, #main-section-filters input {
    font-size: 1.8rem;
}

#main-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    row-gap: 2rem;
    column-gap: 1rem;

    padding-bottom: 4rem;
}

#pokemon-card {
    background-color: lightgray;

    padding-inline: 2rem;
    padding-block: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 2px;
}

#pokemon-card img {
    width: 17rem;
    height: auto;
}

#pokemon-card span {
    padding-top: 2rem;

    font-size: 2rem;
    font-weight: bold;
}

#load-more-button {
    margin-inline: auto;

    border: none;
    background: none;

    display: flex;
    align-items: center;
    gap: .8rem;
}

#load-more-button:hover {
    cursor: pointer;
}

#load-more-button img {
    width: 1.5rem;
    height: auto;
}

/* Footer style */

footer {
    background-color: var(--primary-color);
    color: var(--primary-font-color);

    padding-block: 4rem;

    font-size: 1.6rem;
}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;

    padding-top: 3rem;
}

#footer-content #legal-rights {
    display: flex;
    flex-direction: column;
}