.card-row {
    display: flex;
    align-items: center;
}

#main-section-card {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    background-color: lightgray;

    width: min(60rem, 100%);

    margin-inline: auto;

    padding-block: 4rem;
    padding-inline: 2rem;

    border-radius: 2px;
}

#main-section-card header {
    font-size: 2.2rem;
    font-weight: bold;

    gap: 3rem;
}

#pokemon-img {
    width: clamp(15rem, 100%, 25rem);

    background-color: rgb(230,230,230);
    border-radius: 4px;
}

#stats-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

#stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    column-gap: 2rem;
    row-gap: 1rem;

    width: 100%;
    height: 100%;
}

#stats-grid div {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.stat-name,.stat-value {
    font-size: 1.6rem;

    background-color: rgb(230,230,230);
    
    height: min(6rem, 100%);
    width: min(10rem, 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    padding-inline: 1rem;
}

.stat-name {
    border-radius: 10px 0px 0px 10px;
}

.stat-value {
    border-left: 2px solid black;
    border-radius: 0px 10px 10px 0px;
}

#moves {
    display: flex;
    flex-direction: column;

    font-size: 1.4rem;
}